
@{
//ViewBag.Title = "Start";
//ViewBag.LoginName = "simon";
}

@*<h2>Start</h2>
<h2>@ViewBag.Title</h2>*@
@*<p>
    @Html.ActionLink("註冊", "Register", "Login", new { style = "color : blue" })
</p>
<p>
    @Html.ActionLink("忘記密碼", "ForgetPsw", "Login", new { style = "color : blue" })
</p>*@


<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gladxy Co._LogIn</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/Externalimg/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/ExternalCss/bootstrap.min.css">
    <link rel="stylesheet" href="~/ExternalCss/owl.carousel.min.css">
    <link rel="stylesheet" href="~/ExternalCss/flaticon.css">
    <link rel="stylesheet" href="~/ExternalCss/slicknav.css">
    <link rel="stylesheet" href="~/ExternalCss/animate.min.css">
    <link rel="stylesheet" href="~/ExternalCss/magnific-popup.css">
    <link rel="stylesheet" href="~/ExternalCss/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/ExternalCss/themify-icons.css">
    <link rel="stylesheet" href="~/ExternalCss/slick.css">
    <link rel="stylesheet" href="~/ExternalCss/nice-select.css">
    <link rel="stylesheet" href="~/ExternalCss/style.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        body{
            padding-right:0px!important;
        }
        .modal-dialog {
            top: -20px;
            /*margin-left: 460px;*/
            margin:0px auto;
        }
        .logo{
            width:100px;
            height:100px;
        }
        body{
            padding-top:0px;
        }
    </style>
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                  
                    <img src="~/Externalimg/Gladxy_co._LOGO_Small.png" />
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                <div class="logo">
                                    @*<div style="width:100%; height:100%">*@
                                        <a href="../cBlog/Start"><img src="~/Externalimg/Gladxy_co._LOGO_Small.png" alt="" ></a>
                                    @*</div>*@
                                   
                                </div>
                               
                            </div>
                            <div class="col-xl-3 col-lg-2 col-md-1" style="margin-left:180px;text-align:right;font-size:30px;">員工福利網</div>
                                <div class="col-xl-5 col-lg-10 col-md-10">
                                    <!-- Main-menu -->
                                    <div class="main-menu f-right d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <!-- <li><a href="#">Home</a></li> -->
                                                <li><a href="#">關於我們</a></li>
                                                <!-- <li><a href="#">Package</a></li> -->
                                                <!-- <li><a href="#">Blog</a>
                        <ul class="submenu">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Blog Details</a></li>
                        </ul>
                    </li> -->
                                                <!-- <li><a href="#">Pages</a>
                        <ul class="submenu">
                            <li><a href="#">Element</a></li>
                        </ul>
                    </li> -->
                                                <li><a href="#">聯絡我們  </a><input type="text" id="vccnum" value="@ViewBag.emailconfirm" hidden/>
                                                <button id="btn1" data-target="#exampleModal" data-toggle="modal" hidden></button> </li>
                                                <li>
                                                    <span> @ViewBag.LoginName </span>  <button id="btn2" data-target="#exampleModal2" data-toggle="modal" hidden></button>
                                                    <input type="text" id="rgnum" value="@ViewBag.registerstatus" hidden/>
                                                    <button id="btn3" data-toggle="modal" data-target="#exampleModal3" hidden></button>
                                                    <input type="text" id="ev" value="@ViewBag.emails" hidden/>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <!-- Mobile Menu -->
                                @*<div class="col-12">
                                    <div class="mobile_menu d-block d-lg-none"></div>
                                </div>*@
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active">
                <div class="single-slider hero-overly d-flex slider-height align-items-center"
                     data-background="../Externalimg/main.jpg">
                    <!-- 主頁圖片 -->
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9">
                                <div class="hero__caption">
                                    <h1>Welcome to </h1>
                                    <h1><span>Gladxy Daily System!</span></h1>
                                    <!-- <p>LogIn Here</p> -->
                                </div>
                            </div>
                        </div>
                        <!-- Login Box -->
                        <div class="row">
                            <div class="col-xl-12">
                                <!-- form -->
                                <form name="form1" method="post" class="search-box">
                                    <div class="input-form mb-30">
                                        <h3 onclick="getacpsw()">員工登入</h3>
                                    </div>
                                    <div class="input-form mb-30">
                                        <input type="text" id="txtac" name="txtac" placeholder="帳號">
                                    </div>
                                    <div class="input-form mb-30">
                                        <input type="text" id="txtpsw" name="txtpsw" placeholder="密碼">
                                    </div>
                                    <div class="input-form mb-30">
                                        <h3><a data-toggle="modal" class="btn btn-danger" data-target="#exampleModalCenter"><span style="font-size:18px;">忘記密碼</span></a></h3>
                                    </div>
                                    <div class="search-form mb-30">
                                        <a href="javascript:document.form1.submit();"><span style="font-size:18px;">登入</span></a>

                                    </div>

                                    <div class="search-form mb-30">
                                        <a href="/cBlog/MemberRegister"><span style="font-size:18px;">註冊</span></a>
                                    </div>
                                    <div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Our Services Start -->
        <div class="our-services servic-padding">
            <div class="container">
                <div class="row d-flex justify-contnet-center">
                    @*<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6" onclick="javascript:location.href='/cBlog/ForumList'">*@
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="services-cap">
                                <h5>討論區<br>Guides</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-pay"></span>
                            </div>
                            <div class="services-cap">
                                <h5>揪團Go<br>Shopping</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-experience"></span>
                            </div>
                            <div class="services-cap">
                                <h5>部落格<br>Blog</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-good"></span>
                            </div>
                            <div class="services-cap">
                                <h5>活動區<br>Activity</h5>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="single-services text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-good"></span>
                        </div>
                        <div class="services-cap">
                            <h5>98% Our Travelers<br>are Happy</h5>
                        </div>
                    </div>
                </div> -->
                </div>
            </div>
        </div>


        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">忘記密碼</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <input type="text" id="semail" width="200" placeholder="your Email">
                        <input type="text" id="showe" hidden />

                    </div>


                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>*@
                        <a id="c" class="btn btn-success" style="color:white;" @*href="/Login/SendEmail"*@ onclick="sendemail()">Save changes</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalTitle">查詢結果</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        查無此電子郵件

                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalTitle">查詢結果</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        電子郵件已成功發送至:<span id="pev"></span>

                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalTitle">註冊結果</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        帳戶已成功註冊

                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

        <script type="text/javascript">
            function sendemail() {
                var se = document.getElementById("semail");
                var count = 0;
                var she = document.getElementById("showe");
                she.value = se.value;

                for (let i = 0; i < se.value.length; i++) {
                    const c = se.value[i];
                    if (c == "@@") {
                        count++;
                    }
                    if (c == ".") {
                        count++;
                    }
                }
                if (count == 2) {
                    document.location.href = "/cBlog/SendEmail?id=" + se.value + "";
                } else {
                    alert("email格式錯誤");
                }

            }



        </script>
        <script>
            var vc = 'false';
            window.onload = function () {
                if (document.getElementById("vccnum").value == 'false') {
                    document.getElementById("btn1").click();
                } else if (document.getElementById("vccnum").value == 'true') {
                    document.getElementById("pev").innerText = document.getElementById("ev").value;
                    document.getElementById("btn2").click();
                }
                if (document.getElementById("rgnum").value == 'success') {
                    document.getElementById("btn3").click();
                }
            }
        </script>
        <script>
            function getacpsw() {
                document.getElementById("txtac").value = "liao0301";
                document.getElementById("txtpsw").value = "jinger8744";
            }
           
        </script>


    </main>

    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    @*<script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>*@
    <script src="~/Externaljs/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    @*<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>*@
    <script src="~/Externaljs/jquery-1.12.4.min.js"></script>

    @*<script src="./assets/js/popper.min.js"></script>*@
    <script src="~/Externaljs/popper.min.js"></script>

    @*<script src="./assets/js/bootstrap.min.js"></script>*@
    <script src="~/Externaljs/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    @*<script src="./assets/js/jquery.slicknav.min.js"></script>*@
    <script src="~/Externaljs/jquery.slicknav.min.js"></script>
    <!-- Jquery Slick , Owl-Carousel Plugins -->
    @*<script src="./assets/js/owl.carousel.min.js"></script>*@
    <script src="~/Externaljs/owl.carousel.min.js"></script>

    @*<script src="./assets/js/slick.min.js"></script>*@
    <script src="~/Externaljs/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    @*<script src="./assets/js/wow.min.js"></script>
        <script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>*@
    <script src="~/Externaljs/wow.min.js"></script>
    <script src="~/Externaljs/animated.headline.js"></script>
    <script src="~/Externaljs/jquery.magnific-popup.js"></script>
    <!-- Scrollup, nice-select, sticky -->
    @*<script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
        <script src="./assets/js/jquery.sticky.js"></script>*@
    <script src="~/Externaljs/jquery.scrollUp.min.js"></script>
    <script src="~/Externaljs/jquery.nice-select.min.js"></script>
    <script src="~/Externaljs/jquery.sticky.js"></script>
    <!-- contact js -->
    @*<script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>*@
    <script src="~/Externaljs/contact.js"></script>
    <script src="~/Externaljs/jquery.form.js"></script>
    <script src="~/Externaljs/jquery.validate.min.js"></script>
    <script src="~/Externaljs/mail-script.js"></script>
    <script src="~/Externaljs/jquery.ajaxchimp.min.js"></script>
    <!-- Jquery Plugins, main Jquery -->
    @*<script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>*@
    <script src="~/Externaljs/plugins.js"></script>
    <script src="~/Externaljs/main.js"></script>
</body>

</html>


